# Compiler files
demo-contracts/cache/
demo-contracts/out/

# Ignores development broadcast logs
!/demo-contracts/broadcast
/demo-contracts/broadcast/*/31337/
/demo-contracts/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env
